body{
    font-family:sans-serif;
    margin-left:5%;
    margin-right:5%;
    }

.literal-block {
    margin-left:5%;
    margin-right:5%;
    padding-top:1em;
    padding-bottom:1em;
    padding-left:1em;
    font-weight:medium;
    background:#dddddd;
    border:1pt solid black;
}

.note {
    border:1pt solid black;
    background:#dddddd;
    margin-left:10%;
    margin-right:10%;
    padding-left:1em;
    padding-right:1em;
}
.admonition-title {
    font-weight:bold;
}
